<form class="club-form " action="<%= clubs_url %>" method="POST" data-remote=true>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>

  <label>Title
  <input type="text" name="club[title]"></input>
  </label>
  <br>
  <label>Book
	<%= render "books_list", books: books%>
  </label>

  <input id="button" type="submit" value="Create Club!"></input>
</form>