<% if current_user %>
  <% button_class = is_current_user_member ? "follow" : "unfollow" %>
<% else %>
  <% button_class = "no-user" %>
<% end %>

<ul class="<%= button_class %>">
  <% unless club.creator == current_user%>
  <li class="button-follow">
    <%= button_to "Follow", club_memberships_url(club), form_class: "follow-form", remote: true %>
  </li>
  <li class="button-unfollow">
    <%= button_to "Unfollow", club_memberships_url(club), method: :delete, form_class: "follow-form", remote: true %>
  </li>
  <% end %>
  
  <div class="new-post">
    <header class="sub-title">New Post</header>
  	<%= render "posts/form_post", books: books, club: club  %>
  </div>
</ul> 


