<header class="page-title">All Clubs</header>

<div class="page-left">  
  <div class="clubs-list">
  <%= render "list_clubs", clubs: @clubs %>
  </div>
</div>

  
  <% if current_user  && is_admin?(current_user) %>
  <div class="add-club-wrapper">
    <button class="add-club-widget" href="#">+</button>
    <div class="add-club">
      <%= render "club_form", books: Book.all %>
    </div>
  </div>
  <% end %>
  
  
  
<script>
$(document).ready(function (){

  $(document).ready( function () {
    $('div.add-club').hide();
  
  
    $('.add-club-widget').on("click", function (event) {
      event.preventDefault()
      $('div.add-club').toggle();
    })
  })


  // On successful club creation
  $("body").on("ajax:success", ".club-form", function (event, data) {
    event.preventDefault();

    $commentForm = $(this)

    $(".clubs-list").html(data)
    $commentForm[0].reset()
    
    $newClubDiv = $("div.add-club-wrapper")
    $errors = $newClubDiv.children(".errors")
    $errors.remove();
    
    $(".add-club").hide()

  });

  // on unsuccessful club creation
  $("body").on("ajax:error", ".club-form", function (event, data) {
    event.preventDefault();
    $commentForm = $(this)
    $newClubDiv = $("div.add-club-wrapper")

    $errors = $newClubDiv.children(".errors")
    $errors.remove();

    $newClubDiv.append('<div class="errors">' + data.responseText + '</div>');
  });



});
</script>