<header class="page-title">All Clubs</header>

<% if current_user && is_admin?(current_user) %>
	<a href="<%= new_club_url %>">Create Club</a><br>
<% end %>


<%= render "list_clubs", :clubs => @clubs %>
