<form action="<%= mail_request_session_url %>" method="POST">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  </input>

  <label>Email
  <input type="text" name="user[email]"></input>
  </label>
  <br>

  <label>Name
  <input type="text" name="user[name]"></input>
  </label>
  <br>

  <input type="submit" value="Request"></input>
</form>


