<form class="comment-form"
action="<%= post_comments_url(post.id, {parent_id: parent_id}) %>" method="post"
data-remote="true">
  <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>" >

  <textarea name="comment[body]"></textarea>

  <input type="submit" value="Submit Comment">
</form>
