<header class="page-title">Home</header>

<header class="sub-title">Recommendations</header>

<div class="display">
  <%= render "books/display_books", :books => @recommendations %>
</div>

<header class="sub-title">New</header>
<div class="display">
  <%= render "books/display_books", :books => @new %>
</div>

<header class="sub-title">Recently Reviewed</header>
<div class="display">
  <%= render "books/display_books", :books => @recently_reviewed %>
</div>
