<table>

  <% @books.each do |book| %>
  <tr>
    <th><a href="/books/<%= book.isbn %>"><%= book.title %></a></th>
    <td><%= book.author %></td>
    <td><img src="<%= book.pic %>" width="50"></td>
    </tr>
  <% end %>

</table>