<header class="page-title">All Books</header>

<div class="page-right">
  <% if current_user %>
    <%= render "new_book" %>
  <% end %>
</div>

<div class="books-display">
  <%= render "display_books", :books => @books %>
</div>


