<form class="post-form" action="<%=  club_posts_url(club.id) %>" method="POST" data-remote="true">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  </input>

  <textarea name="post[body]"></textarea>


  	<select class="post-book" name="post[book_id]">
      <option>Book List</option>
  		<% books.each do |book| %>
  		<option value="<%= book.id %>"><%= book.title %></option>
  		<% end %>
  	</select>


<input type="submit" value="Post!"></input>
</form>



