<form class="review-form" action="<%= book_review_url(book.id) %>" method="POST" data-remote="true">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  </input>

  <label>Title
    <input type="text" name="post[title]"></input>
  </label>
  <br>

  <label>Body
    <input type="text" name="post[body]"></input>
	<br>

<input type="submit" value="Post!"></input>
</form>



