// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin {
	display: inline-table;
}

.admin-requests {
	display: none;
}

.hide-tag {
	display: none;
}
