/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body, header, footer, section, ul, li, img, div, button, strong, input, a{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  position: relative;
}

ul, li {
  list-style: none;
}

nav {
  background-color: red;
  display: block;
  text-align: right;
  height: 34px;
  font-size: 30px;
  padding-right: 20px;
}

nav > a {
  padding-right: 120px;
  color:white;
}

nav:after {
  clear: both;
}

header#logo {
  float: left;
  color: white;
  text-align: left;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #C0C0C0;
}

nav div {
  position:relative;
}


nav div input {
  margin-top: -1px;
  margin-left: -130px;
  position:absolute;
  background: red;
  color: #C0C0C0;
  border: none;
  height: 34px;
}

nav div input:hover {
  color: white;
}

