/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */

/* --- RESET --- */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small, input, select, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --- ELEMENTS --- */

body {
  font-family: 'Josefin Sans', sans-serif;
  background: transparent;
  font-size: 20px;
  line-height: normal;
  background: #F8F8F4;
/*  background-image:url('lghtmesh.png');*/
}

#main {
  background: white;
  background-image:url('greyzz.png');
}

ul {
  list-style: none;
}

form {
  display: inline;
}

a {
  text-decoration: none;
  color: #707070;
}

strong {
  font-weight: bold;
}

img {
  display: block;
}


input[type="password"], input[type="text"] {
  background: #FDF9EC;
  margin: 2px;
  border: 1px solid #eee;
}


input[type="submit"]{
  background: #ccc;
  margin: 2px;
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid #eee;
}

input[type="submit"]:hover {
  cursor: pointer; 
  cursor: hand; 
}


/* --- UTILITIES --- */

.group:after {
  content: "";
  display: table;
  clear: both;
}

.admin {
  display: none;
}

.hide-tag {
  display: none;
}

.follow .button-follow, .unfollow .button-unfollow , .unfollow .new-post, .no-user .new-post{
  display: none;
}


/* --- GLOBALS --- */

/*a {
  color: inherit;
}

a:visited {
  color:inherit;
}

a:hover {
  color:#C0C0C0;
}
*/

/* --- NAV BAR --- */
nav {
  background-image:url('grlogo.jpeg');
  background-repeat: x-repeat;
  height: 90px;
  border-bottom: 1px solid #d7d7d7;
  font-family: sans-serif;
  font-size: 18px;
}

.nav-wrapper {
  background: #fbf2d5; /* Old browsers */
  background: -moz-linear-gradient(top, #fbf2d5 0%, #fdf9ec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf2d5), color-stop(100%,#fdf9ec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbf2d5 0%,#fdf9ec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbf2d5 0%,#fdf9ec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbf2d5 0%,#fdf9ec 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fbf2d5 0%,#fdf9ec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf2d5', endColorstr='#fdf9ec',GradientType=0 ); /* IE6-9 */
  height: 50px;
  position: absolute;
  top: 40px;
  width:100%; 
}

.site-nav {
  width: 902px;
  margin: auto;
}

.site-nav a {
  color: #707070;
}

.static-elements a:hover {
  color: #ccc;
/*  border-bottom: 2px dashed #ccc;*/
}

.site-nav .button_to input {
  background: #d7d7d7;
  padding: 0px 4px;
  border-radius: 4px;
}

.site-nav .button_to input:hover {
  color: #ccc;
}

.site-nav > .static-elements {
  float:left;
}


.static-elements > a#logo {
  font-size: 30px;
  float:left;
  font-weight: 100;
  font-family: sans-serif;
  position: relative;
  margin: 5px 40px 0px 20px;
  color:inherit;
}

.static-elements > a#logo > strong {
  font-weight: 400;
}


.static-elements > #search-box {
  float:left;
  background: white;
  border-radius: 4px;
  margin: 12px 10px 0px 10px;
  width: 140px;
  font-size: 15px;
  padding:4px;
}

.static-elements > .site-links {
  float:right;
}

.static-elements > .site-links > li{
  float:left;
  margin: 15px 10px 0px 10px;
}


.site-nav > .user-links {
  float: right;
  margin-right:-2px;
}

.user-links li {
  float: left;
  margin-top:15px;
/*  margin: 15px 10px 0px 10px;*/
}

.user-links li  a{
  padding: 15px 20px;
  border-left: 1px solid #d7d7d7;  
}

.user-links li  a:hover{
  color: #ccc;
  background:#070707;
}


.user-links  #username:hover {
}

.user-links  #log-botton a {
  border-right: 1px solid #d7d7d7;
  margin-right: 2px;  
}

.user-links > #notification {
  margin-right: -2px;
}

/*
.site-nav > .user-links > #notification {
  padding: 15px 20px;
}

.site-nav > .user-links > #username {
  padding: 15px 20px;
}*/


.user-links input[type="submit"] {
  border:0;
  border-radius:0;
  background:none;
  padding: 15px 20px;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  margin-top: -15px;
  
}

.user-links input[type="submit"]:hover {
  color: #ccc;
  background:#070707;
}
/*.user-links > #log-botton {
  padding: 12px 20px;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  margin-top: 0px;
}*/


/* --- FOOTER --- */
body > footer {
  width: 900px;
  height: 30px;
  margin: auto;
  background: white;
  border: 1px solid #d7d7d7;
  border-top: 0;
}

body > footer .copy {
  float: left;
  color: #ccc;
  padding: 5px 0px 0px 20px;
}

body > footer a.github {
  float: right;
  color: #ccc;
  padding: 5px 20px 0px 0px;
}

/* --- MAIN --- */

#flash-errors, .errors{
  background: red;
  margin: auto;
  text-align: center;

}

#main {
  width: 820px;
  padding: 20px 40px;
  min-height: 600px;
  margin: auto;
  border: 1px solid #d7d7d7;
  border-top: 0;
}

/*#main a {
  color: green;
}
*/
#main a:hover {
  color: #ccc;
}
/*
#main input[type="submit"] {
  border: 1px solid #d7d7d7;
  display: inline;
  background: #d7d7d7;
  padding: 4px 4px;
  margin-bottom: 20px;
}

#main input[type="submit"]:hover {
  border: 1px solid #d7d7d7;
  background: #33CC66;
}*/

textarea {
  background: #FAF1D4;
  padding: 4px 4px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  margin-bottom: 20px;
  height: 30px;
}


select {
  background: #FAF1D4;
}

.back-button {
  float: right;
  padding: 2px 4px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  z-index: 2;
}
.page-title {
  display: block;
  font-size: 30px;
  color: #707070;
  padding: 20px 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.sub-title {
  display: block;
  font-size: 18px;
  color: #707070;
  padding: 20px 30px 10px 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-bottom: 1px dashed #d7d7d7;
}
.page-left {
  float: left;
  width: 60%;
  height: auto;
}

.page-right {
  float: right;
  text-align:left;
  width: 35%;
  height: auto;
  padding: 10px;
  padding-top: 0px;
  background: #FAF1D4;
}

.page-left table {
  border-collapse:collapse;
  width: 100%;
}

th{
  background: #d7d7d7;
}

tr:nth-child(odd) {
  background-color: #FAF1D4;
}

td, th {
  width: 40%;
  text-align: right;
  padding-right: 30px;
}

th:nth-child(even), td:nth-child(even) {
  width: 60%;
  text-align: left;
}

.page-left .books-list td, .page-left .users-list th {
  width: 60%;
}

.page-left .books-list th:nth-child(even),
.page-left .users-list td:nth-child(even) {
  width: 40%;
}


/*---- DISPLAY ----*/
.display{
}

.display ul {
}

.display li {
  float: left;
  width: 142px;
  padding: 10px;
  font-size: 10px;
  height: 250px;
}

.display .book img {
  width: 142px;
}

/*---- POSTS ----*/
.post {
  width: 90%;
  margin-bottom: 30px;
  border-top: 1px solid #FAF1D4;
}

.post .post-header{
  height: 50px;
  border-bottom: 1px solid #FAF1D4;
  background: #f7eabd;
}

.post .post-contents{
}

.post .post-header .post-date{
  float:right;
  margin-top: 20px;
  margin-right: 20px;
}

.post .post-header .poster{
  float:left;
  font-size: 20px;
}

.post .post-header .poster img {
  float: left;
  width: 50px;
}

.post .post-header .poster a {
  float: right;
  margin-top: 15px;
  margin-left: 10px;
}


.post .post-contents .post-body{
  margin: 10px 20px;
}

.post .post-footer{
  border-bottom: 1px solid #FAF1D4;
  height: 27px;
}


.post .post-footer .book-title{
  float:left;
  margin-left: 20px;
}


.post .post-footer .club-title{
  float:left;
  margin-left: 20px;
}

.post .post-footer .comment-button{
  float:right;
  margin-right: 20px;
}

.post .post-comments {
  border: 1px solid #FAF1D4;
/*  background: #F8F8F8;*/
  width: 75%;
  margin-left: 182px;
}

.post .post-comments .comments-list {
  padding: 5px 15px 5px 0px;
}

.post .post-comments > .comment-form {
  background: #DFDFDF;
  padding: 5px 15px 0px 0px;
  height: 40px;
}

.post .post-comments textarea {
  margin-left: 10px;
  margin-bottom: 0;
  width: 60%;
  height: 20px;
  float:left;
}

.post .post-comments input[type="submit"] {
  margin-left: 10px;
}


.post .modify-post {
/*  padding-top: 10px;*/
}

.post .modify-post a{
  padding-top: 5px;
}

.post .modify-post input[type="submit"] {
  margin:0px;
  padding:0px;
  display:inline;
  background:none;
  color:red;
  border:none;
}


/*#main  {
  border: 1px solid #d7d7d7;

  background: #d7d7d7;
  padding: 0px 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}*/


/*---- COMMENTS ----*/

.comment {
  border-bottom: 1px dashed #d7d7d7;
  border-left: 1px dashed #d7d7d7;
  margin: 10px 20px;
  margin-right: 0px;
  background: none;
}

.comment .post-header {
  height: 30px;
  background: #DFDFDF;
}

.comment .comment-body{
  padding-left: 10px;
}

.comment .comment-poster{
  float:left;
  margin: 0px 5px;
  margin-top: 5px;
}

.comment .comment-poster img {
  float: left;
  width: 25px;
}

.comment .comment-poster a {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}

.comment .comment-footer {
  display:inline;
}


.reply-form {
  height: 40px;
/*  background:blue;*/
}


.reply-form input[type="submit"] {
  margin:6px;
  display:inline;
  color:black;
  background: #ccc;
  border-radius: 3px;
  border: 1px solid #eee;
  
}


.reply-form textarea {
  margin:5px;
  width: 50%;
}

.reply-form form div {
  display:inline;
}


.comment .comment-delete-form {
  position: absolute;
  left:50%;
  margin-left: 250px;
  margin-top: 4px;
}


.comment .comment-delete-form input[type="submit"] {
  margin:0px;
  padding:0px;
  display:inline;
  background:none;
  color:red;
  border:none;
}

/*---- POST FORM ----*/
.review-form{
  width: 50%;
}

.review-form textarea, .post-form textarea {
  margin-left: 10px;
  margin-bottom: 0;
  width: 97%;
  height: 50px;
}

.post-form input[type="submit"], .review-form input[type="submit"] {
  margin-left: 10px;
}

.post-form .post-book{
  margin-left: 10px;
  display: block;
  margin-bottom: 10px;
}

