// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.follow .button-follow, .unfollow .button-unfollow,
.no-user .button-follow, .no-user .button-unfollow {
  display: none;
}

//INDEX

.add-club-widget{
   background-color: #ecf0f1 ;
}

.add-club {
  
}

.add-club-wrapper {
  position: absolute;
  background: #707070;
  border-radius: 5px;
  left:50%;
  top: 140px;
  margin-left: -230px;
}

.club-show-page .add-club-wrapper {
  margin-left: -420px;
}

.filter-buttons form div{
  display:inline;
}

.follow , .unfollow {
  margin-bottom: 30px;
}