// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trial-logins{
	background:red;
	text-size: 24px;
}

.trial-logins .button_to input{
	margin: 20px;
	float:left;
	background: red;
	color:white;
	padding: 10px;
	border-radius: 10px;
}

.trial-logins .button_to input:hover{

	background: green;

}